$botoneraColor:  rgb(249,184,250);
$botoneraColorB: radial-gradient(circle, rgba(249,184,250,1) 100%, rgba(70,252,252,1) 100%);
$bordeDoubleBlack: double black;
$interlineado: 1.5em;
$backgroundColor: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
$mainColor:black;
$white: white;
$padding-xsmall: 6px;
$padding-small:10px;
$padding-medium: 15px;
$padding-large:40px;
$padding-xlarge: 80px;
$margin-small: 5px;
$margin-medium: 15px;
$margin-large: 45px;
$margin-xlarge: 100px;
$ancho-elementoXXXL:360px;
$ancho-elementoXXL:300px;
$ancho-elementoXL:150px;
$ancho-elementoL:100px;
$ancho-elementoM:50px;
$alto-elementoXXXL:360px;
$alto-elementoXXL:300px;
$alto-elementoXL:150px;
$alto-elementoL:100px;
$alto-elementoM:50px;